<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                you have on  {{ msg }} and you subscribed a {{ product_name }} , price , {{ plan_price }} ... !
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Jetstream/Welcome'
    import axios from "axios";

    export default {
        components: {
            AppLayout,
            Welcome,
        },
        props: ['stripeKey','plans','trial_ended','trial_started','start_date','message','products'],
        data() {
            return {
                product_name:'',
                plan_price:'',
                msg:this.message
            }
        },
        methods: {
            plansData: function () {
                this.plan_price = this.plans.amount;
                this.product_name = this.products.name;
            },
            subscribeData: function () {
                console.log(this.trial_ended);
                console.log(this.trial_started);
                console.log(this.start_date);
                console.log(this.message);
            }
        },
        mounted() {
            console.log('dashbaord view');
            this.plansData();
            this.subscribeData();
        }
    }
</script>
