<template>
  <app-layout>
      <template #header>
          <h2 class="font-semibold text-xl text-gray-800 leading-tight">
              Manage Subscription
          </h2>
      </template>

      <div class="py-12">
          <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
              <div class="bg-white p-8 overflow-hidden shadow-xl sm:rounded-lg">
                  <h2 class="font-bold text-2xl">Create Subscription</h2>
<!--                  <select class="form-control">-->
<!--                      <option v-for="plan in plans" :value="plan.id">{{plan.product.name}}</option>-->
<!--                  </select>-->
                  <p>
                    <jet-button class="mt-4" @click.native="checkout">Head to checkout page</jet-button>
                    <jet-button class="mt-4" @click.native="trial_period">Trail</jet-button>
                  </p>
              </div>
          </div>
      </div>
  </app-layout>
</template>

<script>
import JetButton from '../Jetstream/Button';
import AppLayout from '../Layouts/AppLayout';
import axios from 'axios';

export default {
  components: {
    JetButton,
    AppLayout
  },
  props: ['stripeKey', 'checkoutSessionId'],
  data() {
      return {
         plans:[]
      }
  },
  methods: {
    checkout() {
        console.log('this.stripeKey');
        console.log(this.stripeKey);
        console.log(this.checkoutSessionId);
        window.Stripe(this.stripeKey).redirectToCheckout({
           sessionId: this.checkoutSessionId
        });
    },
    trial_period(){
        console.log('trial_period');
        let url = '/subscription/trial';
        axios.get(url).then((response) => {
            console.log('response');
            console.log(response);
            window.location.reload();
        }).catch((error) => {
           console.log('error');
           console.log(error);
        });
    },
    getPlans() {
        let url = '/plans';
        axios.get(url).then((response) => {
            console.log('response');
            console.log(response.data.data.data);
            this.plans = response.data.data.data;
        }).catch((error) => {
           console.log('error');
           console.log(error);
        });
    }
  },
  mounted() {
      console.log('getPlans');
      this.getPlans();
  }
}
</script>

<style>
    select{
        width:100%;
        margin-bottom:12px;
        margin-top:12px;
    }
</style>
